.hidden
  display none

.container
  width: 100%
  height: 400px
  background-image: url(./images/guildhall.jpg)
  background-size: cover


///////////////// Spacing ////////////////////


///////////////// Colors /////////////////////
primaryColor = #00346D
secondaryColor = #fff
hoverColor = #0093B9
accentColor = #000

.uk-navbar-toggle
  color secondaryColor
.uk-navbar-toggle:hover
  color hoverColor
.uk-navbar-brand
  color secondaryColor
.uk-navbar-brand:hover
  color hoverColor
.uk-navbar
  background primaryColor
.uk-offcanvas
  background-color rgba(56,118, 185, .3)
.uk-offcanvas-bar
  width auto
  border-right 3px solid accentColor
  background primaryColor
  padding-top 20px
.uk-nav-offcanvas li a
  color secondaryColor
  font-size 25px
.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus, html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover
  background hoverColor
  color secondaryColor
html .uk-nav.uk-nav-offcanvas>li.uk-active>a
  background hoverColor