.hidden
  display none

.container
  width: 100%
  height: 460px
  background-size: cover
.centerText
  text-align center
  color white
  padding-top 10px

///////////////// Spacing ////////////////////
.uk-vertical-align-bottom
  margin-bottom -65px
button
  height: 35px
  background yellow
  width: auto
  font-size: 24px
.uk-panel-title 
  background white
  border 2px solid black
  text-align center

.panelBox
  position absolute
  top 30px
  right 0px
  height 100px
  width 250px
  background white
  border 2px solid black

///////////////// Colors /////////////////////
primaryColor = #0018BE
secondaryColor = #fff
hoverColor = #0093B9
accentColor = #000
.alert
  border 2px solid red
.title
  color secondaryColor
  font-size 3em
  text-align center
  width: 85%

.timer
  background primaryColor
  color white
  border 1px solid black
  padding 15px
.timer h1, .timer h2
  padding 0
  color white

footer
  height 50px
  background primaryColor
  position:fixed
  left:0px
  bottom:0px
  height:50px
  width:100%

.uk-navbar-toggle:hover, .uk-navbar-brand:hover
  color hoverColor

.uk-navbar-brand
  color secondaryColor
.uk-navbar
  background primaryColor
  padding 5px
.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus, html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover, .uk-nav.uk-nav-offcanvas>li.uk-active>a
  background hoverColor
  color secondaryColor

@media only screen and (max-width: 850px)
  .title
    font-size 2em
    text-align center
    width 75%
  button
    height 25px
    margin-left -15px
    magin-right -20px
    font-size 18px

@media only screen and (max-width: 450px)
  .title
    font-size 1.75em
    width: auto
  .timer h1
    font-size 30px