.primaryColor {
  background-color: #000FA4
}

.primaryColor-text {
  color: #000fa4;
}

.secondaryColor {
  background-color: #0948BB;
}

.secondaryColor-text {
  color: #0971B1;
}

.accentColor {
  background-color: #5509B1
}

.accentColor-text {
  color: #5509B1;
}

.backgroundColor {
  background-color: 
}
.borderColor {
  border-color: #0971B1
}